/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	width: 100vw;
	height: 100vh;
	font-family: 'Figtree', sans-serif;
	background-color: #FAFAFA;
}

.header{
	display: flex;
	min-height: 100px;
	width: 100%;
	align-items:center;
}
.logo{
	flex-basis: 20%;
	text-align: center;
	padding-left: 50px;
}

.menu{
	flex-basis: 60%;
}
.buttons{
	display: flex;
	flex-basis: 20%;
	justify-content: flex-end;
	margin-right: 180px;
}
.btn{
	color:gray;
	font-weight: 600;
	padding: 10px 15px;
	margin-left: 40px;
}
.bordered{
	border:1px solid gray;
	border-radius: 10px;
}
.btn:hover{
	color:#000;
}
.bordered:hover{
	border:1px solid #000;
}
.menu li{
	position: relative;
}
.menu__list{
	display: flex;
	font-weight: 600;
}
.menu__list>li{
	margin: 0 15px;
	cursor: pointer;
}
.menu__list>li:hover .sub-menu__list{
	display: inline-block;
}
.menu__link{
	color:gray;
}

.menu__link:hover{
	color:#000;
}
.sub-menu__list{
	/* display: none; */
	position: absolute;
	min-width: 150px;
	right: 0;
	top: 15px;
	padding: 25px 20px;
	-webkit-box-shadow: 0px 0px 50px 8px rgba(34, 60, 80, 0.33);
	-moz-box-shadow: 0px 0px 50px 8px rgba(34, 60, 80, 0.33);
	box-shadow: 0px 0px 50px 8px rgba(34, 60, 80, 0.33);	
	border-radius: 6px;
	background-color:#fff;
}
.small{
	min-width: 110px;

}
.sub-menu__list>li:not(:first-child){
	margin-top: 15px;
}
.sub-menu__list>li{
	display: flex;
	justify-content: flex-start;
}
.sub-menu__list>li img{
	width: 17px;
	height: 20px;
	margin:-4px 10px 0 0;
}
.sub-menu__link{
	display: inline-block;
	color:gray;
}
.sub-menu__link:hover{
	color:#000;
}
.arrow{

}
.menu__arrow img{
	margin: 3px 0 0 5px;
}



main{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container{
	min-width: 1240px;
	margin: 0 auto;
	flex: 1 1 auto;
}
.main-body{
	display: flex;
	justify-content: space-between;
	min-height: 600px;
	margin-top: 20px;
}
.left-block{
	min-width: 500px;
	max-height:800px;
	margin-top: 140px;
}
h1{
	font-weight: 800;
	font-size: 72px;
}
p{
	color:gray;
	font-weight: 600;
	line-height: 20px;
	margin: 50px 0;
	font-size: 18px;
	letter-spacing: .5px;
}

.btn-main{
	display: table-cell;
	width: 130px;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	vertical-align: middle;
	text-align: center;
	background-color:#000;
	color:#fff;
	border:1px solid transparent;
	border-radius:10px;
	transition: 0.3s ease;
}
.btn-main:hover{
	border:1px solid #000;
	background-color:#fff;
	color:#000;
}
.left-block__images{
	margin-top:120px;
}
.left-block__images img{
	margin-right: 15px;
}
.right-block{
}
.right-block img{
    width: 500px;
    height: 650px;
	object-fit: contain;
}